{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block page_heading %}{{ recipe.name }} - Detail View{% endblock %}
{% block content %}
    <b>{{ recipe.name }}</b>
    <img src="{{ recipe.images.url }}" alt="{{ recipe.images.description }}">
    <p><strong>Author:</strong> {{ recipe.author.name }}</p>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>  
        {% endfor %}
    </ul>
    <a href="{% url 'ledger:recipe_list' %}">Back to List</a>
{% endblock %}